/.ipynb_checkpoints
/.vscode
/.DS_Store
/.image_crawl.egg-info
/.dist
/.build
/image_crawl/.DS_Store
/image_crawl/img
/image_crawl/src/.DS_Store
/image_crawl/src/.ipynb_checkpoints
/image_crawl/src/notebooks
/image_crawl/src/utils/.DS_Store
/image_crawl/src/utils/__pycache__
